run = "npm run dev"
entrypoint = "package.json"
hidden = [".config", "package-lock.json", "tsconfig.json"]
modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[gitHubImport]
requiredFiles = [".replit", "replit.nix", ".config"]

[[ports]]
localPort = 3000
externalPort = 80

[agent]
expertMode = true
